.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 700px; */
  padding: 30px;
  background: whitesmoke;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 700px; */
  /* padding: 30px; */
  background: whitesmoke;
}

.btn {
  padding-left: 12px;
}
.table {
  height: 300px;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  padding: 30px;
  background: whitesmoke;
}
