.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  background: whitesmoke;
}

.menubar {
  height: 40px;
  background: darkgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
}
